<div class="col-12 col-sm-12 card asset-list-card">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Produto</th>
                    <th scope="col">Fabricante</th>
                    <th scope="col">Periodicidade de Manunteção</th>
                    <th scope="col">Qtd. de Manutenção no Período</th>
                    <th scope="col">Data da Compra</th>
                    <th scope="col">Observações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let asset of assets">
                    <td>{{ asset.product.name }}</td>
                    <td>{{ asset.product.manufacturer.name }}</td>
                    <td>{{ asset.maintenancePeriodicity }}</td>
                    <td>{{ asset.amountMaintenancePeriod }}</td>
                    <td>{{ asset.purchaseDate }}</td>
                    <td>{{ asset.note }}</td>
                </tr>
            </tbody>
            <footer>
                <button type="button" class="btn btn-secondary" (click)="backToAssetsAdd()">Voltar</button>
            </footer>
        </table>
    </div>
</div>