<div class="col-12 card asset-form-card">
    <form [formGroup]="assetForm" (ngSubmit)="createAsset()">
        <div class="row">
            <div class="col-12 col-sm-6">
                <label for="manufacturer">Fabricante</label>
                <select id="manufacturer" class="form-control" formControlName="manutacturerId"
                    (change)="loadProductsByManufacturer()">
                    <option *ngFor="let manufacturer of manufacturers" [value]="manufacturer.id">
                        {{ manufacturer.name }}
                    </option>
                </select>
            </div>
            <div class="col-12 col-sm-6">
                <label for="product">Produto</label>
                <select id="product" class="form-control" formControlName="productId">
                    <option *ngFor="let product of products" [value]="product.id">
                        {{ product.name }}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-3">
                <label for="manutenancePeriodicity">Periodicidade de Manunteção</label>
                <select id="manutenancePeriodicity" class="form-control" formControlName="maintenancePeriodicity">
                    <option *ngFor="let maintenancePeriodicity of maintenancePeriodicities"
                        value="{{maintenancePeriodicity.acronyms}}">
                        {{ maintenancePeriodicity.name }}
                    </option>
                </select>
            </div>
            <div class="col-12 col-sm-3">
                <label for="ammount-manutenance-period">Quantidade de Manutenção no Período</label>
                <input type="text" id="ammount-manutenance-period" class="form-control"
                    formControlName="amountMaintenancePeriod" />
            </div>
            <div class="col-12 col-sm-3">
                <label for="purchase-date">Data da Compra</label>
                <input type="text" id="purchase-date" class="form-control" formControlName="purchaseDate" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12">
                <label for="note">Observações</label>
                <textarea id="note" class="form-control" formControlName="note" rows="5"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-3 col-sm-1">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
            <div class="col-3 col-sm-1">
                <button type="button" class="btn btn-secondary" (click)="backToLogin()">Voltar</button>
            </div>
            <div class="col-6 col-sm-10 align-right">
                <button type="button" class="btn btn-primary" (click)="forwardToAssetList()">Exibir Cadastrados</button>
            </div>
        </div>
    </form>
</div>