<div class="col-12 col-sm-3 offset-md-4 card login-card">
    <form [formGroup]="loginForm" (ngSubmit)="performLogin()">
        <div class="form-group">
            <label for="username">Usuário</label>
            <input type="text" id="username" class="form-control" formControlName="username" />
        </div>
        <div class="form-group">
            <label for="password">Senha</label>
            <input type="password" id="password" class="form-control" formControlName="password" />
        </div>
        <button type="submit" class="btn btn-primary">Acessar</button>
    </form>
</div>