.toolbar {
    top: 0;
    left: 0;
    right: 0;
    padding-left: 10px;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
}
    